body {
    font-family: "Open- Sans", Verdana, Geneva, Tahoma, sans-serif
}


nav,
#menu-checkbox { 
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: #3873A6;
    color: white;
    padding: 10px;

}

nav {
    position: absolute;
    background:#3873A6;
    left:0px;
    
}

nav a {
    display: block;
    color: white;
    padding: 10px 20px;
}


.pink {
    padding:  2px 2px 2px 2px;
    height: 100px;
    width: 100px;
}

.stormberg {
    padding:  2px 2px 2px 2px;
    height: 100px;
    width: 100px;
}

@media (min-width: 600px) {
    nav{
        display: block; 
        position: static;  
    }

    .hamburder-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: #3873A6;
    color: white;
  }

  .product {
    max-width: 300px;
  }

 
  .pink { margin: 10px;
  float: right;
  width: 300px;}
  
  .blue {
    max-width: 300px;
  }

  .blue{
    width: 100%
  }
