body {
    font-family: "Open- Sans", Verdana, Geneva, Tahoma, sans-serif
}


nav,
#menu-checkbox { 
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: rgb(56, 56, 56);
    color: white;
    padding: 10px;

}

nav {
    position: absolute;
    background:rgb(56, 56, 56);
    left:0px;
    
}

nav a {
    display: block;
    color: white;
    padding: 10px 20px;
}

@media (min-width: 600px) {
    nav{
        display: block; 
        position: static;  
    }

    .hamburder-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}