body {
 background-color: #A0C3D9; 
}
h1 {
    font-size: 45px;
    color: blue;
  }
  .content {
    font-family: "Open Sans", Verdana, sans-serif;
  }
  
  nav li {
    display: inline-block;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
  text-decoration: underline;
}
footer {
  background-color: #3873A6;
  text-align: center;
}